.info_me{
    max-width: 1920px;
    margin: 0 0;
    color: var(--color-w);
    font-family: var(--font-family-base);
    font-size: 28px;
    position: relative; 
    &-fotome{
        position: relative;
        float: left;
    }
    &-p{
        position: relative;
        float: right;
        margin-right: 170px;
        margin-top: -40px ;
        width: 860px;
        height: 352px;
    }
    &-juse{
        position: relative;
        float: right;
        transform: translateX(-14%);
        transform: translateY(-74%);

    }

}


.titleOrange{
    padding-left: 430px;
    color: var(--color-orange);
}
