
:root{
    --color-orange:#EF731B;
    --color-gray:#7E7E81;
    --color-gray-10:#201E20;
    --color-w:#ffffff;
    --color-black: #1C1A1C;

    --font-family-base:'Manrope-Regular',sans-serif;
    --font-family-header:'Manrope-Medium',sans-serif;
    
    --transition-duration: 0.2s;
}